* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(222, 222, 222);
}

/* HEADER&FOOTER STYLING START */
header, footer {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.name a {
    text-decoration: none;
}

header h1, .contact-me h4 {
    font-weight: bold;
    font-size: 3vw;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav, footer nav {
    margin: 7px 0;
}

header nav ul, footer nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: blueviolet;
}

header a:hover {
    color:cornflowerblue;
}

header nav ul li a, footer nav ul a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.88vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-me h4 {
    color: blueviolet;
}
/* HEADER&FOOTER STYLING END */

/* HERO STYLING START */
.hero div {
    background-image: url("../images/drops-4926381_1280.jpeg");
    background-size: cover;
    background-position: bottom;
    background-position: center;
    border: 3px solid black;
    margin: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.hero div h2 {
   color:papayawhip;
   background-attachment: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px white solid;
   margin-top: 200px;
}
/* HERO STYLING END */

/* ABOUT ME STYLING START */
.about-me {
    display: flex;
    width: 90%;
    text-align: center;
    line-height: 1.7;
    margin: 0 auto;
}

.intro {
    display: flex;
    justify-content: left;
}

.about-me p {
    margin-top: 30px;
    margin-left: 50px;
   padding-bottom: 50px;
    padding-right: 50px;
    color: rgba(137, 72, 184, .50);
}

.about-me h2 {
    margin-top: 0px;
    padding:100px 20px 20px 20px;
    width: 200px;
    display: block;
    text-align: center;
    font-size: 36px;
    color: rgba(137, 72, 184, .50);
}

.intro span {
    border-bottom: 4px double cornflowerblue;
}

.photo img {
    height: 275px;
    width: 200px;
    border: 8px outset rgba(137, 72, 184, .50);
    border-style:groove;
    display: flex;
    margin: 30px 0;
}
/*ABOUT ME STYLING END */

/* PROJECTS STYLING START */

.projects {
    display: block;
    background-color: rgba(137, 72, 184, .50);
    width: 100%;
}
.assembly {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(222, 222, 222);
    font-size: 26px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.run-buddy {
    background-image: url("../images/Screen\ Shot\ 2021-10-15\ at\ 2.26.44\ PM.png");
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 450px;
    border:rgb(40, 64, 175) 2px solid;
    color:rgb(222, 222, 222);
    display: flex;
    align-items:flex-end;
    margin: 30px auto 0 auto;
}

.run-buddy-text {
    text-decoration: none;
    background-color: white;
    margin-left: 20px;
}

.thumbnail {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    border:rgb(40, 64, 175) 2px solid;
}

.portfolio a {
    text-decoration: none;
}

.Horiseon {
    background-image: url("../images/Screen\ Shot\ 2021-10-15\ at\ 2.31.09\ PM.png");
    background-size: cover;
    background-position: center;
}

.thumbnail-text {
    color: black;
    display: flex;
    justify-content: center;
}

.weather {
    background-image: url("../images/weather.jpeg");
    background-size: cover;
    background-position: center;
}

/* PROJECTS STYLING END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-wdith: 1099px) {
    header nav ul li a, footer nav ul a {
        font-size: 2vw;
    }
}

@media screen and (max-width: 900px) {
    header h1, .contact-me h4{
        font-size: 4vw;
    }
    
    header nav ul li a, footer nav ul a {
        font-size: 2.50vw;
    }
    
    .portfolio {
        display: block;
    }

    .run-buddy {
        width: 600px;
    }

    .thumbnail {
        margin: 50px auto;
        width: 525px;
    }

    .about-me {
        display: block;
    }

    .intro {
        display: block;
    }

    .about-me div h2 {
        margin: 0 auto;
        padding: 20px 0;
    }
    
    .about-me p {
        width: 100%;
        display: block;
    }

    .photo {
        width: 100%;
        display: block;
    }

    .photo img {
        margin: 0 auto;
    }
}